@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTFACE */
@font-face {
    font-family: "urbanist-regular";
    src: url("../../public/assets/font/urbanist/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-medium";
    src: url("../../public/assets/font/urbanist/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-semibold";
    src: url("../../public/assets/font/urbanist/Urbanist-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-bold";
    src: url("../../public/assets/font/urbanist/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "xd-prime-regular";
    src: url("../../public/assets/font/xd-prime/XDPrime-Regular.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-medium";
    src: url("../../public/assets/font/xd-prime/XDPrime-Medium.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-bold";
    src: url("../../public/assets/font/xd-prime/XDPrime-Bold.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-extrabold";
    src: url("../../public/assets/font/xd-prime/XDPrime-ExtraBold.otf") format("truetype");
}
/* END FONTFACE */

@layer base {
    * {
        @apply text-light font-urbanist-medium duration-300;
    }

    html {
        @apply scroll-smooth bg-dark-800;
    }

    form.form,
    .form {
        @apply grid grid-cols-1 gap-[12px] w-full;
    }

    h1,h2,h3,h4,h5,h6,p {
        @apply leading-[150%];
    }
}

@layer components {
    h2.title {
        @apply text-[2.25rem] md:text-[2.5rem] lg:text-[2.75rem] xl:text-[3rem] font-xd-prime-bold leading-[120%];
    }

    .form-input {
        @apply w-full flex flex-col gap-[6px];
    }

    label {
        @apply text-[0.875rem] text-light/[0.62];
    }

    .input {
        @apply w-full bg-dark-900 rounded-[3px] text-light text-[0.875rem] px-[14px] py-[14px] border border-none outline-none stroke-none ring-0;
        @apply placeholder:text-light/[0.42] placeholder:text-[0.875rem];
        @apply focus:ring-0;
    }

    .input-file,
    .input-image {
        @apply flex items-end gap-2 mt-[8px];
    }

    .input-image .image-preview {
        @apply w-[100px] h-[100px] object-cover aspect-square rounded-[4px];
    }

    .input-file .file-input-hidden,
    .input-image .image-input-hidden {
        @apply absolute opacity-0 top-0 left-0;
    }

    .input-file .file-button,
    .input-image .image-button {
        @apply text-[0.875rem] py-[11px] px-[20px];
    }

    .input-file .file-name {
        @apply text-[0.85rem] text-light/[0.42];
    }

    hr.style-gap {
        @apply w-full border-light/[0.12];
    }

    .input-wrapper,
    .input-wrapper .input {
        @apply relative;
    }

    .input-wrapper .button-redirect {
        @apply absolute top-1/2 right-[8px] -translate-y-1/2 w-[33px] h-[33px] aspect-square rounded-[2px] flex items-center justify-center border border-light/[0.06] bg-dark-800 hover:brightness-90;
    }

    .input-wrapper .button-redirect span {
        @apply w-[12px] h-[12px] bg-cover bg-center bg-no-repeat opacity-[0.62];
    }

    .text-invalid {
        @apply text-[0.813rem] text-red m-0 mt-[4px];
    }

    .button-primary,
    .button-secondary {
        @apply w-fit px-[20px] py-[14px] text-[0.85rem] text-light bg-primary rounded-[3px] text-nowrap cursor-pointer;
        @apply hover:brightness-75;
    }

    .button-secondary {
        @apply bg-dark-700;
        @apply hover:brightness-95;
    }

    .alert {
        @apply text-[0.875rem] py-[13px] px-[16px] rounded-[3px] w-full mb-3;
    }

    .alert.alert-success {
        @apply text-primary bg-primary/[0.12] border border-primary/[0.12];
    }

    .alert.alert-danger {
        @apply text-red bg-red/[0.24] border border-red/[0.24];
    }

    .table-group {
        @apply overflow-x-auto mt-4;
    }

    .table-group table {
        @apply w-full overflow-hidden rounded-[4px];
    }

    .table-group table tr,
    .table-group table th,
    .table-group table td {
        @apply px-[16px] py-[12px] border-t border-b border-light/[0.06] first:border-l last:border-r text-nowrap;
    }

    .table-group table th,
    .table-group table td {
        @apply text-[0.85rem] text-light/[0.62];
    }

    .table-group table td .status-pending,
    .table-group table td .status-accepted,
    .table-group table td .status-rejected {
        @apply capitalize w-fit text-[0.813rem] py-[5px] px-[10px] rounded-[2px] bg-yellow/[0.20] text-yellow;
    }

    .table-group table td .status-accepted {
        @apply bg-primary/[0.12] text-primary;
    }

    .table-group table td .status-rejected {
        @apply bg-red/[0.20] text-red;
    }

    .table-group table th {
        @apply text-start font-medium bg-light/[0.04] text-light/[0.42];
    }

    .table-group table td .action-button {
        @apply flex items-center gap-[4px] justify-end;
    }

    .table-group table td .action-button .button {
        @apply w-[32px] h-[32px] rounded-[3px] flex items-center justify-center;
    }

    .table-group table td .action-button .button span {
        @apply w-[16px] h-[16px] bg-cover bg-center bg-no-repeat;
    }

    .table-group table td .action-button .button.icon-download,
    .table-group table td .action-button .button.icon-detail {
        @apply bg-primary/[0.12] hover:bg-primary/[0.24];
    }

    .table-group table td .action-button .button.icon-edit {
        @apply bg-yellow/[0.20] hover:bg-yellow/[0.32];
    }

    .table-group table td .action-button .button.icon-delete {
        @apply bg-red/[0.20] hover:bg-red/[0.32];
    }

    .table-paginate {
        @apply w-full flex justify-center mt-4;
    }

    .table-paginate > nav > :last-child {
        @apply gap-[12px];
    }

    .table-paginate > nav > :last-child > :first-child > p {
        @apply text-[0.813rem] text-light/[0.42];
    }

    .table-paginate > nav > :last-child > :first-child > p span {
        @apply text-light;
    }

    .table-paginate nav :last-child :last-child span a,
    .table-paginate nav :last-child :last-child span span {
        @apply !bg-dark-800 !border-light/[0.12] w-[36px] h-[36px] aspect-square p-0 flex items-center justify-center focus:ring-2 focus:ring-light/[0.12];
    }

    .table-paginate nav :last-child :last-child span a:first-child,
    .table-paginate nav :last-child :last-child span span:first-child {
        @apply rounded-s-[2px];
    }

    .table-paginate nav :last-child :last-child span a:last-child,
    .table-paginate nav :last-child :last-child span span:last-child {
        @apply rounded-e-[2px];
    }

    .modal {
        @apply fixed inset-0 bg-black/[0.62] items-center justify-center z-50 hidden;
    }

    .modal.show {
        @apply flex;
    }

    .modal .modal-content {
        @apply w-full md:w-[500px] m-[16px] md:m-0 bg-dark-800 rounded-[6px] overflow-hidden;
    }

    .modal .modal-content .content-header {
        @apply rounded-tl-[6px] rounded-tr-[6px] px-[16px] md:px-[20px] py-[14px] bg-dark-700 border border-light/[0.06] border-b-transparent;
    }

    .modal .modal-content .content-header p {
        @apply text-light/[0.42] text-nowrap text-[0.913rem];
    }

    .modal .modal-content .content-body {
        @apply px-[16px] md:px-[20px] py-[14px] border border-light/[0.06] rounded-bl-[4px] rounded-br-[4px] bg-dark-800;
    }

    .modal .modal-content .content-body p {
        @apply text-light/[0.62] text-[0.913rem] mb-[20px];
    }

    .modal .modal-content .content-body form {
        @apply w-full grid grid-cols-1 gap-[12px];
    }

    .button-group {
        @apply flex items-center gap-[8px] lg:gap-[12px] lg:col-span-2;
    }
}

@layer utilities {
    /* AUTHENTICATE */
    .authenticate .authenticate-banner {
        @apply hidden lg:inline-block;
    }

    .authenticate .authenticate-banner.login {
        @apply w-full h-full bg-login-banner bg-cover bg-no-repeat bg-center;
    }

    .authenticate .authenticate-content {
        @apply px-[16px] md:px-[42px] lg:px-[62px];
    }

    .authenticate .authenticate-content .title {
        @apply mb-[20px] lg:mb-[24px];
    }
    /* END AUTHENTICATE */

    /* SIDEBAR */
    .sidebar {
        @apply w-[280px] lg:w-[320px] min-h-dvh md:min-h-screen flex flex-col gap-[16px] md:gap-[20px] lg:gap-[24px] fixed lg:relative -translate-x-full duration-700 bg-dark-700;
    }

    .sidebar.active {
        @apply translate-x-0 duration-700;
    }

    .sidebar .content-item {
        @apply p-[14px] flex items-center gap-[8px] rounded-[3px] text-[0.875rem] text-light/[0.62] bg-dark-800;
        @apply hover:text-dark-800 hover:bg-primary;
    }

    .sidebar .content-item.active {
        @apply text-dark-800 bg-primary;
    }

    .sidebar .content-item span {
        @apply w-[16px] h-[15px] bg-cover bg-center bg-no-repeat;
    }
    /* END SIDEBAR */

    /* DASHBOARD */
    .dashboard .content-menu.content-dashboard {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[12px] md:gap-[16px] lg:gap-[20px];
    }

    .dashboard .content-menu.content-dashboard .dashboard-menu {
        @apply p-[14px] bg-dark-700 rounded-[3px] flex items-center gap-[12px] lg:gap-[16px];
    }

    .dashboard .content-menu.content-dashboard .dashboard-menu .menu-icon {
        @apply w-[48px] h-[48px] rounded-[2px] bg-primary flex items-center justify-center;
    }

    .dashboard .content-menu.content-dashboard .dashboard-menu .menu-icon span {
        @apply w-[18px] h-[18px] bg-cover bg-center bg-no-repeat;
    }

    .dashboard .content-menu.content-dashboard .dashboard-menu .menu-data .data-name {
        @apply text-[0.813rem] leading-[132%] text-light/[0.62];
    }

    .dashboard .content-menu.content-dashboard .dashboard-menu .menu-data .data-value {
        @apply text-[1.5rem] text-primary font-xd-prime-bold;
    }

    .dashboard .content-menu.content-table {
        @apply p-[16px] lg:p-[20px] border border-light/[0.06] rounded-[4px];
    }

    .dashboard .content-menu.content-table .table-header {
        @apply flex items-center gap-[8px] lg:gap-[12px];
    }

    .dashboard .content-menu.content-profile {
        @apply grid lg:grid-cols-[300px_auto] gap-[16px] lg:gap-[20px];
    }

    .dashboard .content-menu.content-profile .menu-profile {
        @apply h-fit p-[16px] lg:p-[20px] border border-light/[0.06] rounded-[4px];
    }

    .dashboard .content-menu.content-profile .menu-profile .profile-image {
        @apply w-full rounded-[3px];
    }

    .dashboard .content-menu.content-profile .menu-profile .profile-title {
        @apply text-[1.25rem] font-xd-prime-medium w-full pb-[4px] lg:pb-[8px] mb-[8px] lg:mb-[12px] border-b border-light/[0.12];
    }
    /* END DASHBOARD */
}
