@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTFACE */
@font-face {
    font-family: "urbanist-regular";
    src: url("../../public/assets/font/urbanist/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-medium";
    src: url("../../public/assets/font/urbanist/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-semibold";
    src: url("../../public/assets/font/urbanist/Urbanist-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-bold";
    src: url("../../public/assets/font/urbanist/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "xd-prime-regular";
    src: url("../../public/assets/font/xd-prime/XDPrime-Regular.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-medium";
    src: url("../../public/assets/font/xd-prime/XDPrime-Medium.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-bold";
    src: url("../../public/assets/font/xd-prime/XDPrime-Bold.otf") format("truetype");
}

@font-face {
    font-family: "xd-prime-extrabold";
    src: url("../../public/assets/font/xd-prime/XDPrime-ExtraBold.otf") format("truetype");
}
/* END FONTFACE */

@layer base {
    * {
        @apply text-light font-urbanist-medium duration-300;
    }

    html {
        @apply scroll-smooth bg-dark-800;
    }

    form.form {
        @apply flex flex-col gap-[12px] w-full;
    }

    h1,h2,h3,h4,h5,h6,p {
        @apply leading-[150%];
    }
}

@layer components {
    h2.title {
        @apply text-[2.25rem] md:text-[2.5rem] lg:text-[2.75rem] xl:text-[3rem] font-xd-prime-bold leading-[120%];
    }

    .form-input {
        @apply flex flex-col gap-[6px];
    }

    label {
        @apply text-[0.875rem] text-light/[0.62];
    }

    .input {
        @apply w-full bg-dark-900 rounded-[3px] text-light text-[0.875rem] px-[14px] py-[14px] border border-none outline-none stroke-none ring-0;
        @apply placeholder:text-light/[0.42] placeholder:text-[0.875rem];
        @apply focus:ring-0;
    }

    .text-invalid {
        @apply text-[0.813rem] text-red m-0 mt-[4px];
    }

    .button-primary,
    .button-secondary {
        @apply w-fit px-[20px] py-[14px] text-[0.875rem] text-light bg-primary rounded-[3px] text-nowrap;
        @apply hover:brightness-90;
    }

    .button-secondary {
        @apply bg-dark-700;
    }

    .alert {
        @apply text-[0.875rem] py-[13px] px-[16px] rounded-[3px] w-full mb-3;
    }

    .alert.alert-success {
        @apply text-primary bg-primary/[0.12] border border-primary/[0.12];
    }

    .alert.alert-danger {
        @apply text-red bg-red/[0.24] border border-red/[0.24];
    }

    .wrapper-table {
        @apply overflow-x-auto mt-4;
    }

    .wrapper-table table {
        @apply w-full overflow-hidden rounded-[4px];
    }

    .wrapper-table table tr,
    .wrapper-table table th,
    .wrapper-table table td {
        @apply px-[16px] py-[12px] border-t border-b border-light/[0.06] first:border-l last:border-r text-nowrap;
    }

    .wrapper-table table th,
    .wrapper-table table td {
        @apply text-[0.85rem] text-light/[0.62];
    }

    .wrapper-table table th {
        @apply text-start font-medium bg-light/[0.04] text-light/[0.42];
    }

    .wrapper-table table td .action-button {
        @apply justify-end;
    }

    .wrapper-table table td .action-button .button {
        @apply w-[32px] h-[32px] rounded-[3px] flex items-center justify-center;
    }

    .wrapper-table table td .action-button .button span {
        @apply w-[16px] h-[16px] bg-cover bg-center bg-no-repeat;
    }

    .wrapper-table table td .action-button .button.icon-detail {
        @apply bg-primary/[0.12] hover:bg-primary/[0.24];
    }

    .wrapper-table table td .action-button .button.icon-edit {
        @apply bg-yellow/[0.20] hover:bg-yellow/[0.32];
    }

    .wrapper-table table td .action-button .button.icon-delete {
        @apply bg-red/[0.20] hover:bg-red/[0.32];
    }

    .wrapper-paginate {
        @apply w-full flex justify-center mt-4;
    }

    .wrapper-paginate .page-link,
    .wrapper-paginate .page-link:hover {
        @apply text-primary;
    }

    .wrapper-paginate .active > .page-link,
    .wrapper-paginate .page-link.active {
        @apply bg-primary border-primary;
    }

    .wrapper-paginate .active > .page-link,
    .wrapper-paginate .page-link.active:hover {
        @apply text-primary;
    }

    .modal {
        @apply fixed inset-0 bg-black/[0.62] items-center justify-center z-50 hidden;
    }

    .modal.show {
        @apply flex;
    }

    .modal .modal-content {
        @apply w-full md:w-[500px] m-[16px] md:m-0 bg-dark-800 rounded-[6px] overflow-hidden;
    }

    .modal .modal-content .content-header {
        @apply rounded-tl-[6px] rounded-tr-[6px] px-[16px] md:px-[20px] py-[14px] bg-dark-700 border border-light/[0.06] border-b-transparent;
    }

    .modal .modal-content .content-header p {
        @apply text-light/[0.62] text-nowrap;
    }

    .modal .modal-content .content-body {
        @apply px-[16px] md:px-[20px] py-[14px] border border-light/[0.06] rounded-bl-[4px] rounded-br-[4px] bg-dark-800;
    }

    .modal .modal-content .content-body p {
        @apply text-light/[0.62] text-[0.913rem] mb-[32px];
    }

    .modal .modal-content .content-body form {
        @apply w-full grid grid-cols-1 gap-[12px];
    }
}

@layer utilities {
    /* AUTHENTICATE */
    .authenticate .authenticate-banner {
        @apply hidden lg:inline-block;
    }

    .authenticate .authenticate-banner.login {
        @apply w-full h-full bg-login-banner bg-cover bg-no-repeat bg-center;
    }

    .authenticate .authenticate-content {
        @apply px-[16px] md:px-[42px] lg:px-[62px];
    }

    .authenticate .authenticate-content .title {
        @apply mb-[20px] lg:mb-[24px];
    }
    /* END AUTHENTICATE */

    /* SIDEBAR */
    .sidebar {
        @apply w-[280px] lg:w-[320px] min-h-dvh md:min-h-screen flex flex-col gap-[16px] md:gap-[20px] lg:gap-[24px] fixed lg:relative -translate-x-full duration-700 bg-dark-700;
    }

    .sidebar.active {
        @apply translate-x-0 duration-700;
    }

    .sidebar .content-item {
        @apply p-[14px] flex items-center gap-[8px] rounded-[3px] text-[0.875rem] text-light/[0.62] bg-dark-800;
        @apply hover:text-dark-800 hover:bg-primary;
    }

    .sidebar .content-item.active {
        @apply text-dark-800 bg-primary;
    }

    .sidebar .content-item span {
        @apply w-[16px] h-[15px] bg-cover bg-center bg-no-repeat;
    }
    /* END SIDEBAR */

    /* DASHBOARD */
    .dashboard .content-menu .menu-dashboard {
        @apply p-[14px] bg-dark-700 rounded-[3px] flex items-center gap-[12px] lg:gap-[16px];
    }

    .dashboard .content-menu .menu-dashboard .dashboard-icon {
        @apply w-[48px] h-[48px] rounded-[2px] bg-primary flex items-center justify-center;
    }

    .dashboard .content-menu .menu-dashboard .dashboard-icon span {
        @apply w-[18px] h-[18px] bg-cover bg-center bg-no-repeat;
    }

    .dashboard .content-menu .menu-dashboard .dashboard-data .data-name {
        @apply text-[0.875rem] leading-[132%];
    }

    .dashboard .content-menu .menu-dashboard .dashboard-data .data-value {
        @apply text-[1.5rem] text-primary font-xd-prime-bold;
    }
    /* END DASHBOARD */
}
